body {
	background-color:#d6dde5/*#B7CADD*/;
	font-size:12px;
	padding: 0px;
	margin: 0px;
	font-family: 宋体;
}
input, select, textarea {
	font-size: 12px;
	font-family: 宋体;
}
form {
	padding: 0px;
	margin: 0px;
}
th {
	font-size: 12px;
	font-weight: bold;
}

.frameLine { background-color:#888888} /*对象边框的颜色。*/
/*栏目导航的链接样式。在browse.php,browsefile.php中*/
.command_pane { background-color:#F0F0F0; background:url(box_mtl_ctr.gif);height:22px } /*命令按钮面板的样式。*/
.disabled_button { color:#eee } /*已经禁用的按钮的文字样式。*/

.Panel {
	background-color: #eee;
	border: 1px solid #fff;
	border-top-width: 2px;
	border-right-color: #aaa;
	border-bottom-color: #aaa;
}

td { font-size:9pt}
a { color:#2E589D ;text-decoration:none}
.Chart { background-color: #AAD2ED}
.Chart td { background-color: #AAD2ED}
.GuidePanel {
	background-color:#fff;
	border: 1px solid #666;
	border-left-width: 2px;
	border-bottom-color: #fff;
	background:url(hline-thin.gif);
}
.body_guide { /* 导航帧的body */
	background-color:#ffffff
}
.body_head {
	background-color: #395A7B;
}
.heading1 {
	width:21px;
	height:18px;
	background:url(heading_1.gif);
}
.heading2 {
	background:url(heading_2.gif);
	cursor:default;
	font-weight:bold;
}
.heading3 {
	background:url(heading_3.gif);
	width:8px;
}
.InputPrompt {
	color: #999;
}

.article_status_1 {
	padding-left: 20px;
	width: 125px;
	background: url(icons.gif) no-repeat -60px 0px;
}
.article_status_2 {
	padding-left: 20px;
	background-image: url(st_published.gif);
	background-repeat: no-repeat;
	background-position: 0px -4px;
}
.article_status_3 {
	padding-left: 20px;
	background-image: url(st_edit_hidden.gif);
	background-repeat: no-repeat;
}
.article_status_4 {
	padding-left: 20px;
	background-image: url(st_published_hidden.gif);
	background-repeat: no-repeat;
}
.article_islink_1 {
	padding-left: 20px;
	background-image: url(st_link.gif);
	background-repeat: no-repeat;
	background-position: 0px -2px;
}
.listview_sep {
	background-image: url(listview_sep_items.gif);
	background-repeat: repeat-y;
	width: 3px;
}

.listview_row_mouseover td {
	background-color: #3875d7;
	color: #fff;
}
.listview_row_mouseover td a {
	color: #fff;
}
a.shortcut_label {
	padding-left: 20px;
	background-image: url(expand.gif);
	background-repeat: no-repeat;
	line-height: 20px;
	position: absolute;
	right: 40px;
	font-weight: bold;
}

div.tab1, div.tab2 {
	width: 100%;
}
div.tab1 ul {
	margin-left: 0px;
	display: block;
	border-bottom: 1px solid #395B7B;
	height: 22px;
}
div.tab1 ul li {
	display: inline;
	float: left;
}
div.tab1 ul li a {
	display: block;
	padding: 3px 10px 3px 10px;
	text-decoration: none;
	color: #000;
	border: 1px solid #666;
	background-color: #AEC0D2;
	margin-left: 5px;
	border-bottom: none;
}
div.tab1 ul li a.focused {
	background-color: #395B7B;
	color: #fff;
}
div.tab2 ul li {
	display: inline;
	float: left;
}
div.tab2 * {
	float: left;
}
div.tab2 ul li a {
	display: block;
	padding: 3px 10px 3px 10px;
	text-decoration: none;
	color: #000;
	border: 1px solid #666;
	background-color: #ccc;
	margin-left: 5px;
	border-bottom: none;
}
div.tab2 ul li a.focused {
	background-color: #666;
	color: #fff;
}

.btn_edit {
	text-indent: -9999px;
	display: block;
	width: 18px;
	height: 18px;
	background: url(icons.gif) no-repeat;
}
.btn_del {
	text-indent: -9999px;
	display: block;
	width: 15px;
	height: 14px;
	background: url(icons.gif) no-repeat -19px 0px;
	cursor: pointer;
}
.btn_move {
	text-indent: -9999px;
	display: block;
	width: 17px;
	height: 19px;
	background: url(icons.gif) -220px 0px no-repeat;
}
.btn_publish {
	text-indent: -9999px;
	display: block;
	width: 125px;
	height: 125px;
	background: url(icons.gif) no-repeat -40px 0px;
}
.btn_up {
	text-indent: -9999px;
	display: block;
	width: 17px;
	height: 19px;
	background: url(icons.gif) -240px 0px no-repeat;
	background-repeat: no-repeat;
}
.btn_down {
	text-indent: -9999px;
	display: block;
	width: 17px;
	height: 19px;
	background: url(icons.gif) -260px 0px no-repeat;
}
.btn_subcolumn {
	text-indent: -9999px;
	display: block;
	width: 20px;
	height: 125px;
	background-image: url(subcolumn.gif);
	background-repeat: no-repeat;
}
.btn_template {
	text-indent: -9999px;
	display: block;
	width: 17px;
	height: 19px;
	background-image: url(template.gif);
	background-repeat: no-repeat;
}
.btn_reply {
	text-indent: -9999px;
	display: block;
	width: 14px;
	height: 15px;
	background: url(icons.gif) -200px 0px no-repeat;
}
.btn_permission {
	text-indent: -9999px;
	display: block;
	width: 20px;
	height: 15px;
	background: url(icons.gif) -120px 0px no-repeat;
}

.btn_pick {
	text-indent: -9999px;
	display: block;
	width: 15px;
	height: 15px;
	background: url(icons.gif) -180px 0px no-repeat;
	padding: 2px;
}

.btn_group {
	text-indent: -9999px;
	display: block;
	width: 18px;
	height: 20px;
	background: url(icons.gif) -140px 0px no-repeat;
}
.btn_viewstat {
	text-indent: -9999px;
	display: block;
	width: 18px;
	height: 18px;
	background: url(icons.gif) no-repeat -320px 0px;
}
.btn_oper_success {
	text-indent: -9999px;
	display: block;
	width: 18px;
	height: 18px;
	background: url(icons.gif) no-repeat -360px 0px;
}
.btn_oper_fail {
	text-indent: -9999px;
	display: block;
	width: 20px;
	height: 20px;
	background: url(icons.gif) no-repeat -380px 0px;
}
.btn_sort_asc {
	text-indent: -9999px;
	display: block;
	width: 9px;
	height: 8px;
	background: url(icons.gif) no-repeat -400px 0px;
}
.btn_sort_desc {
	text-indent: -9999px;
	display: block;
	width: 9px;
	height: 8px;
	background: url(icons.gif) no-repeat -420px 0px;
}

.icon_article_blank {
	text-indent: -9999px;
	display: block;
	width: 15px;
	height: 18px;
	background: none;
	float: left;
}
.icon_article_link {
	text-indent: -9999px;
	display: block;
	width: 15px;
	height: 18px;
	background: url(icons.gif) no-repeat -100px 0px;
	float: left;
}
.icon_article_publish {
	text-indent: -9999px;
	display: block;
	width: 15px;
	height: 18px;
	background: url(icons.gif) no-repeat -80px 0px;
	float: left;
}

.icon_article_unpublish {
	text-indent: -9999px;
	display: block;
	width: 15px;
	height: 18px;
	background: url(icons.gif) no-repeat -60px 0px;
	float: left;
}

.icon_article_highlight {
	text-indent: -9999px;
	display: block;
	width: 15px;
	height: 18px;
	background: url(icons.gif) no-repeat -440px 0px;
	float: left;
}

.icon_article_sticky {
	text-indent: -9999px;
	display: block;
	width: 15px;
	height: 18px;
	background: url(icons.gif) no-repeat -460px 0px;
	float: left;
}

/* styles for CHeadBar */
div#HeadBar span#current_position {
	padding-left: 15px;
	display: block;
	background-image: url(mainbar_bg.gif);
	height: 25px;
	line-height: 25px;
}

div#HeadBar div#buttons {
	position: relative;
	margin-right: 20px;
	float: right;
	margin-top: -22px;
	display: inline;
}

div#HeadBar div#buttons ul {
	margin: 0;
	padding: 0;
}
div#HeadBar div#buttons ul li {
	list-style-type: none;
	display: inline;
	padding-left: 10px;
	float: left;
}
a.NormalButton {
	height: 20px;
	width: 100px;
	display: block;
	background: url(button_100.gif) no-repeat;
	padding: 0px;
	text-align: center;
	color: #000;
	line-height: 20px;
}
a.NormalButton:hover {
	background-position: -100px 0px;
}
.lv_page_prev, .lv_page_next, .lv_page_first, .lv_page_last {
	background: url(listview_pagenav.gif) no-repeat;
	display:block;
	width: 525px;
	padding-top: 5px;
	height: 18px;
	overflow: hidden;
	text-align: center;
	color: #000;
	font-size: 12px;
}
span.window_close {
	float: right;
	display: block;
	width: 17px;
	height: 19px;
	background: url(close.gif) no-repeat;
	padding: 0px;
	margin: 0px;
	text-indent: -9999px;
}
div.window_title {
	background-color: #3A5C7C;
	height: 20px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
	letter-spacing: 2px;
	line-height: 20px;
}
.divwindow .content {
	border: 1px solid #3a5c7c;
	background-color: #fff;
	padding: 1px;
}
/* styles for CListview */

/* styles for guide frame */
div#toc {
	width: 100%;
}
div#toc ul {
	margin: 0px;
	padding: 0px;
	margin-left: 25px;
}
div#toc ul li {
	float: left;
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
	list-style-type: none;
	line-height: 25px;
}
div#toc a {
	text-indent: -9999px;
	display: block;
	width: 125px;
	height: 125px;
	background-repeat: no-repeat;
}
a#btn_expand_all {
	display: block;
	width: 125px;
	height: 125px;
	background: url(icons.gif) -280px 0px;
}
a#btn_collapse_all {
	background: url(icons.gif) -300px 0px;
}
.webfx-tree-item-label {
	font-size: 12px;
}

span.accesskey {
	text-decoration: underline;
}
.toolbar {
	background-color:#f5f5f5;
	border-width: 1px;
	border-top-width: 2px;
	border-bottom-width: 0px;
	border-style: solid;
	border-color: #fff;
	border-right-color: #aaa;
	border-bottom-color: #aaa;
	padding-bottom: 3px;
}

a.save_default_value {
	text-indent: -9999px;
	display: inline-block;
	background: url(icons.gif) no-repeat -340px 0px;
	width: 14px;
	height: 9px;
	clear: none;
	margin-left: 5px;
	overflow: hidden;
}
div.help_info {
	font-size: 12px;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #aa7;
	border-bottom: 1px solid #aa7;
	padding: 10px;
	padding-left: 40px;
	background: url(hint.gif) no-repeat #ffc;
	margin: 5px 0 5px 0;
}
.bar_bg_0, .bar_bg_5 {
	background-position: 0px 0px;
}
.bar_bg_1, .bar_bg_6 {
	background-position: 0px -11px;
}
.bar_bg_2, .bar_bg_7 {
	background-position: 0px -22px;
}
.bar_bg_3, .bar_bg_8 {
	background-position: 0px -33px;
}
.bar_bg_4, .bar_bg_9 {
	background-position: 0px -44px;
}

.vote_bar {
	display: block;
	height: 11px;
	background-repeat: repeat-x;
	background-image: url(bar_bg.gif);
}